<br>
<div class="col-md-8">
    <div class="well row">
    <div class=" box">
        <h3>
            <a href="#">Boating in Fewa lake</a>
        </h3>
    <hr>
        <img class="img-responsive" src="http://www.amarnathjiyatrapackages.com/wp-content/uploads/2015/01/nagin.jpg" alt="">
    <hr>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.
        </p>
        <a  href="#">
            Read More ...
        </a>
    <hr>

        <ul class="pager">
            <li class="previous">
                <a href="#">&larr; Older</a>
            </li>
            <li class="next">
                <a href="#">Newer &rarr;</a>
            </li>
        </ul>
    </div>
    </div>
</div>
