
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    color: rgb(123, 119, 119);
}

footer {
    margin: 50px 0;
}

.col-md-8, .col-md-4{
	margin-top: 10px;
}

img	{
	height: 300px;
	width: 900px;
    -webkit-filter: grayscale(70%); /* Safari 6.0 - 9.0 */
    filter: grayscale(70%);
}

#logo{
	margin-top: 10px;
	height: 40px;
	width: 140px;
	-webkit-filter: grayscale(70%); /* Safari 6.0 - 9.0 */
    filter: grayscale(70%);
}

a, a:hover, a:active, a:focus {
    text-decoration:none;
    color: black;
}
a,p,h4{
	text-decoration:none;
	color:rgb(123, 123, 123);
}

.navbar {
   background-color: rgb(245, 245, 245);
   width:85.5%;
   margin-left: 6.7%;
   border-color: rgb(245, 245, 245) ;
   border-radius: 5px;
}

.navbar-fixed-top {
    min-height: 60px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 60px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;}
}

.list-unstyled li{
	padding :5px;
}

